
*{
    margin:0;
    padding:0;
}
body{
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
.class{
  font-family: 'Dancing Script', cursive;

}
.container{
    width:1200px;
    background-color:white;
    max-width: 1200px;
    margin: auto;
    border:1px solid purple;
}
.header{
    background-color:rgb(187, 34, 207);
    height:50px;
}
.image{
    width:96px;
    height:50px;
    float:left;
}
.tagline{
    float:right;
     color :white  ;
     font-weight:bold;
     margin:9px;
     margin-right:20px;

}
.navbar{
    height:45px;  
}
.navbar >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.navbar>ul>  li {
    display: inline;
     margin-bottom:7px;
    margin-left:50px;
    margin-right:50px;
    text-align:center;
  
  }
  .navbar>ul>  li a {
    border:1px solid rgb(228, 71, 194);
    border-radius:6px;
    padding:7px;
    color:rgb(186, 33, 206);
    /* margin:10px; */
    margin-bottom:5px;
    text-align: center;
   transform:translate(-50%,-50%);
    text-decoration: none;
  }
  .flex-container {
    display: flex;
    height:600px;
    align-items: flex-start; 
   justify-content: flex-start;
    background-color: #f1f1f1;
    flex-wrap:nowrap;
  }
 
  .flex-container > div {
    background-color:rgb(236, 189, 230);
 
  float:left;
    margin: 10px;
 height:100%;

  
  } 
  /* .flex-container > div >div{
    margin:40px;
  } */